# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/vendor/*/
/platforms/*/
!/platforms/overlays/
*.lock.hjson
__pycache__
