# -----------------------------------------------------------------------------
# Author: Simone Machetti
# -----------------------------------------------------------------------------

/vendor/*/
*.lock.hjson
__pycache__
